<% @breadcrumbs = [link_to('Tag/Category Editor', {:action => 'index'}), 'Tag/Category List'] %>

<div class='row'>
  <div class='span12'>

    <%= form_tag({ :action => 'index' }, { :method => 'get', :class => 'pull-right' }) do %>
      <%= text_field_tag('filter', @filter, { :class => 'search-query span2', :placeholder => 'Search Filter...' })  %>
    <% end %>

    <table class='table table-striped'>
      <thead>
      <tr>
        <th><%= check_box_tag "all-posts" %></th>
        <th>Title</th>
        <th>Slug</th>
        <th>Description</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @taxonomies.each do |taxonomy| %>
        <tr>
          <td><%= check_box_tag "taxonomies[#{taxonomy.id}]" %></td>
          <td><%= taxonomy.name %></td>
          <td><%= taxonomy.seo_url %></td>
          <td><%= taxonomy.description %></td>
          <td><%= taxonomy.classification.capitalize %></td>
          <td class='span2 center'>
            <%= link_to 'Edit', edit_admin_taxonomy_path(taxonomy), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', admin_taxonomy_path(taxonomy), confirm: "You've chosen to delete this taxonomy. Are you sure?", method: :delete, :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="btn-toolbar">
      <div class="btn-group">
        <%= link_to new_admin_taxonomy_path, :class => 'btn btn-primary' do %>
          <i class='icon-plus icon-white'></i> Add New Tag
        <% end %>
      </div>

      <% if @pagination_number_of_pages > 1 %>
        <%= form_tag({ :action => 'index' }, { :method => 'get', :class => 'pull-right' }) do %>
          <%= hidden_field_tag('filter', @filter)  %>
          <div class="btn-group pull-right">
            <% @pagination_number_of_pages.times do |i| %>
              <button name='page' value='<%= i+1 %>' class='btn btn-mini <%= ' active' if i+1 == @pagination_current_page %>'><%= i+1 %></button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<pre>
  <strong>@TODO for this page</strong>
  * Unsuck pagination
  * Add search blank add-ons..
  * Add select on what to show; tags, categories
  * Update breadcrumbs to give full route/controller/action/etc..
  * Header sorting
  * Whats the point of checkboxes here?  Move them into the title td or style the td they are in
  * A single taxonomy should be able to be both a category AND a tag.. or whatever, and be attached to the same slug
  * Create a system by which you can merge slugs
</pre>


