<%= breadcrumbs :right_items => [
        link_to(new_admin_taxonomy_path, :class => 'btn btn-primary btn-mini') {
          "<i class='icon-plus icon-white'></i> Add New Taxonomy".html_safe
        }
]%>

<div class='row'>
  <div class='span12'>

    <table class='table table-striped'>
      <thead>
      <tr>
        <th><%= check_box_tag "all-posts" %></th>
        <th>Title</th>
        <th>Slug</th>
        <th>Description</th>
        <th>Type</th>
        <th class='span2 center'>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @taxonomies.each do |taxonomy| %>
        <tr>
          <td><%= check_box_tag "taxonomies[#{taxonomy.id}]" %></td>
          <td><%= taxonomy.name %></td>
          <td><%= taxonomy.seo_url %></td>
          <td><%= taxonomy.description %></td>
          <td><%= taxonomy.classification.capitalize %></td>
          <td class='span2 center'>
            <%= link_to 'Edit', edit_admin_taxonomy_path(taxonomy), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', admin_taxonomy_path(taxonomy), confirm: "You've chosen to delete this taxonomy. Are you sure?", method: :delete, :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="btn-toolbar">

      <%= pagination %>

    </div>

  </div>
</div>

