<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tag.description %>
</p>


<%= link_to 'Edit', edit_admin_tag_path(@admin_tag) %> |
<%= link_to 'Back', admin_tags_path %>
