<% url_query = (@query.present?)?'?query='+@query:'' %>
<div class='container' role="main" xmlns="http://www.w3.org/1999/html">
  <div class='row'>
    <div class='span9'>

      <% @posts.each do |post| %>

        <div class='content-panel'>
          <% title = post.title %>
          <% title = title.gsub(/(#{@query})/i, '<span class="highlight">\1</span>') if @query.present? %>
          <h3><a href="<%= url_for '/' + post.seo_url + '/' + url_query %>"><%= title.html_safe %></a></h3>
          <div class="navbar">
            <div class="navbar-inner">
              <ul class="nav">
                <li><a href="/"><i class="icon-calendar"></i><%= post.go_live.strftime("%B %e, %Y @ %l:%M%P") %></a></li>
                <li><a href="/"><i class="icon-user"></i><%= post.user.display_name %></a></li>
                <li class='pull-right'><a href="/"><i class="icon-comment"></i>Comments</a></li>
              </ul>
            </div>
          </div>

          <% content = post.content.split(/<!--more-->/)[0] %>
          <% content = content.gsub(/(#{@query})/i, '<span class="highlight">\1</span>') if @query.present? %>
          <%= simple_format(content) %>
          <div class='readmore'><%= link_to 'Read more...', '/' + post.seo_url + '/' + url_query %></div>
        </div>
          
      <% end %>

      <div class="container">
        <div class='row'>
          <div class='span9'>
            <ul class='breadcrumb'>
              <% if @pagination_current_page > 1 %>
                <% if @pagination_current_page.to_i - 1 == 1 %>
                  <li><%= link_to 'Newer Entries', '/' %></li>
                <% else %>
                  <li><%= link_to 'Newer Entries', '/page/' + (@pagination_current_page.to_i - 1).to_s + '/' %></li>
                <% end %>
              <% end %>
              <li class='pull-right'><%= link_to 'Older Entries', '/page/' + (@pagination_current_page.to_i + 1).to_s + '/' %></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

