<div class='container' role="main" xmlns="http://www.w3.org/1999/html">

  <%= render_breadcrumbs :category => @category, :tag => @tag, :filter => @query %>

  <div class='row'>
    <div class='span9'>

      <% @posts.each do |post| %>

        <%= post.render :tease => true %>

      <% end %>

      <% if @pagination_number_of_pages > 1  %>
      <div class="container">
        <div class='row'>
          <div class='span9'>
            <ul class='breadcrumb'>
              <% if @pagination_current_page > 1 %>
                <% if @pagination_current_page.to_i - 1 == 1 %>
                  <li><%= link_to 'Newer Entries', '/' %></li>
                <% else %>
                  <li><%= link_to 'Newer Entries', '/page/' + (@pagination_current_page.to_i - 1).to_s + '/' %></li>
                <% end %>
              <% end %>
              <% if @pagination_current_page < @pagination_number_of_pages %>
                <li class='pull-right'><%= link_to 'Older Entries', '/page/' + (@pagination_current_page.to_i + 1).to_s + '/' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <% end %>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

