<% @breadcrumbs = [
        link_to('Home', { :action => 'index' }),
        link_to( @post.categories.first.name.capitalize, '/category/' + @post.categories.first.seo_url),
        @post.title] %>

<div class='container' role="main">
  <div class='row'>
    <div class='span9'>

      <div class='content-panel'>
        <% title = @post.title %>
        <% title = title.gsub(/(#{@query})/i, '<span class="highlight">\1</span>') if @query.present? %>
        <h3><%= title.html_safe %></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><a href="/"><i class="icon-calendar"></i><%= @post.go_live.strftime("%B %e, %Y @ %l:%M%P") %></a></li>
              <li><a href="/"><i class="icon-user"></i><%= @post.user.display_name %></a></li>
              <li class='pull-right'><a href="/"><i class="icon-comment"></i>Comments</a></li>
            </ul>
          </div>
        </div>

        <% content = @post.content.gsub(/<!--more-->/,'') %>
        <% content = content.gsub(/(#{@query})/i, '<span class="highlight">\1</span>') if @query.present? %>
        <%= simple_format(content) %>

        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">

              <% @post.categories.each do |c| %>
                <li><a href="/category/<%= c.seo_url %>"><% if c == @post.categories.first %><i class="icon-folder-open"></i><% end %>
                  <%= c.name.capitalize %></a>
                </li>
              <% end %>

              <% @post.tags.each do |t| %>
                <li><a href="/tag/<%= t.seo_url %>"><% if t == @post.tags.first %><i class="icon-tags"></i><% end %>
                  <%= t.name.capitalize %></a>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class='span3'>

    </div>

  </div>
</div>

