<% current = breadcrumbs.pop %>
<% if breadcrumbs.present? || filter.present? %>
  <% if render_container %>
  <div class='container'>
  <% end %>
    <div class='row'>
      <div class='<%= span_size %>'>
        <ul class='breadcrumb'>
          <% if breadcrumbs.present? %>
            <% breadcrumbs.each do |b| %>
              <li><%= b %> <span class='divider'><%= divider %></span></li>
            <% end %>
          <% end %>
          <li class='active'><%= current %></li>
          <% if filter.present? %>
            <li><span class='divider'><%= filter_divider %></span> Filtering by "<span class="highlight"><%= filter %></span>"</li>
          <% end %>
        </ul>
      </div>
    </div>
  <% if render_container %>
  </div>
  <% end %>
<% end %>
