<%= breadcrumbs :right_items => [
        link_to(new_admin_widget_path, :class => 'btn btn-primary btn-mini') {
          "<i class='icon-plus icon-white'></i> Add New Widget".html_safe
        }
]%>
<div class='row'>
  <div class='span12'>

    <table class='table table-striped selectable'>
      <thead>
      <tr>
        <th><%= check_box_tag "all-widget" %></th>
        <th>Widget Title</th>
        <th>Description</th>
        <th class='span2 center'>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @widgets.each do |widget| %>
        <tr>
          <td><%= check_box_tag "widget[#{widget.id}]" %></td>
          <td class='span5'><%= widget.title %> <small>{<%= widget.token %>}</small></td>
          <td><%= widget.description %></td>
          <td class='span2 center'>
            <%= link_to 'Edit', edit_admin_widget_path(widget), :class => 'btn btn-mini' %>
            <% if widget.is_deletable %>
              <%= link_to 'Destroy', admin_post_path(widget), :method => :delete, :confirm => "You've chosen to delete this widget, this can't be undone. Are you sure?", :class => 'btn btn-mini btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="btn-toolbar">

      <%= pagination %>

    </div>

  </div>
</div>