
<fieldset>
  <div class='span12'>
    <legend><%= form_legend %></legend>
  </div>

  <div class='span9'>
    <div class=''><%= f.text_area :content, :size => '50x8', :class => 'input-xlarge markitup' %></div>

    <div class='form-actions'>
      <%= submit_tag submit_label, :class => 'btn btn-primary' %>
      <%= link_to "Cancel", admin_content_index_path(:posts), :class => 'btn' %>
    </div>
  </div>

  <div class='span3'>

    <h6>SEO Url</h6>
    <div class='control-group<%= " error" if @content.errors.has_key?(:seo_url) %>'>
      <div class='controls'><%= f.text_field :seo_url, :class => 'span3', :placeholder => "SEO Url" %></div>
      <% if @content.errors.has_key?(:seo_url) %>
        <span class='help-inline'><%= @content.errors.get(:seo_url).first %></span>
      <% end %>
    </div>

    <h6>Publication Options</h6>
    <div class='control-group'>
      <div class='control'>
        <%= select_tag('content[state]', options_for_select([
          ['Draft', :draft],
          ['Published', :published],
          ['Frozen', :frozen]
        ], @content.state), :class => 'span3') %>
      </div>
      <div class='control'>
        <label class='checkbox'>
          <%= f.check_box :is_sticky %>
          Is Sticky?
        </label>
        <label class='checkbox'>
          <%= f.check_box :is_closable %>
          Is Closable?
        </label>
        <label class='checkbox'>
          <%= f.check_box :allow_comments %>
          Allow Comments?
        </label>
        <label class='checkbox'>
          <%= f.check_box :is_frontable %>
          Show on frontpage?
        </label>
        <label class='checkbox'>
          <%= f.check_box :is_indexable %>
          Show up in lists?
        </label>
      </div>
    </div>

    <h6>Go Live Date/Time</h6>
    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :go_live, :class => 'span3', :id => 'anytime', :placeholder => @content.go_live.strftime("%B %e, %Y @ %I:%M%p"), :value => @content.go_live.strftime("%B %e, %Y @ %I:%M%p") %>
      </div>
    </div>

    <h6>Categories</h6>
    <div class='control-group'>
      <% Taxonomy.categories.each do |category| %>
        <label class='checkbox'><%= check_box_tag "taxonomies[]", "#{category.id}", @content.has_taxonomy?(category.id) %><%= category.name %></label>
      <% end %>
    </div>

  </div>

</fieldset>
