
    <fieldset>
      <legend><%= form_legend %></legend>

      <div class='control-group'>
        <label class='control-label'>Author</label>
        <div class='controls'><%= f.select :user_id, @all_users %></div>
      </div>

      <div class='control-group'>
        <label class='control-label'>Title</label>
        <div class='controls'><%= f.text_field :title, :class => 'input-xlarge ' %></div>
      </div>

      <div class='control-group'>
        <label class='control-label'>SEO Url</label>
        <div class='controls'><%= f.text_field :seo_url, :class => 'input-xlarge ' %></div>
      </div>

      <div class='control-group'>
        <label class='control-label'>Content</label>
        <div class='controls'><%= f.text_area :content, :size => '50x8', :class => 'input-xlarge ' %></div>
      </div>

      <div class='control-group warning'>
        <label class='control-label'>State</label>
        <div class='controls'>
          <%= f.enum_select :state %>
          <span class='help-inline'>Temporary</span>
        </div>
      </div>

      <div class='control-group warning'>
        <label class='control-label'>Post Type</label>
        <div class='controls'>
          <%= f.enum_select :object_type %>
          <span class='help-inline'>Temporary</span>
        </div>
      </div>

      <div class='form-actions'>
        <%= submit_tag submit_label, :class => 'btn btn-primary' %>
        <%= link_to "Cancel", {:action => 'index'}, :class => 'btn' %>
      </div>

    </fieldset>
