
<fieldset>
  <div class='span12'>
    <legend><%= form_legend %></legend>
  </div>

  <div class='span9'>
    <div class=''><%= f.text_area :content, :size => '50x8', :class => 'input-xlarge markitup' %></div>

    <div class='form-actions'>
      <%= submit_tag submit_label, :class => 'btn btn-primary' %>
      <%= link_to "Cancel", admin_content_index_path(:posts), :class => 'btn' %>
    </div>
  </div>

  <div class='span3'>

    <h6>SEO Url</h6>
    <div class='control-group<%= " error" if @post.errors.has_key?(:seo_url) %>'>
      <div class='controls'><%= f.text_field :seo_url, :class => 'span3', :placeholder => "SEO Url" %></div>
      <% if @post.errors.has_key?(:seo_url) %>
        <span class='help-inline'><%= @post.errors.get(:seo_url).first %></span>
      <% end %>
    </div>

    <h6>Content Type</h6>
    <div class='control-group'>
      <div class='control'>
        <%= select_tag('post[object_type]', options_for_select([
          ['Post', :post],
          ['Page', :page],
          ['Message', :message],
          ['Ad', :ad]
        ], @post.object_type), :class => 'span3') %>
      </div>
    </div>

    <hr />
    <h6>Publication Options</h6>
    <div class='control-group'>
      <div class='control'>
        <%= select_tag('post[state]', options_for_select([
          ['Draft', :draft],
          ['Published', :published],
          ['Frozen', :frozen]
        ], @post.state), :class => 'span3') %>
      </div>
    </div>
    <div class='control-group'>
      <label class='checkbox'>
        <%= f.check_box :is_sticky %>
        Is Sticky?
      </label>
    </div>
    <div class='control-group'>
      <label class='checkbox'>
        <%= f.check_box :allow_comments %>
        Allow Comments?
      </label>
    </div>
    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :go_live, :class => 'span3', :id => 'anytime', :placeholder => @post.go_live.strftime("%B %e, %Y @ %I:%M%p"), :value => @post.go_live.strftime("%B %e, %Y @ %I:%M%p") %>
      </div>
    </div>
  </div>
</fieldset>

<%
#
#      <div class='tab-pane active' id='content'>
#
#        <div class='control-group'>
#          <label class='control-label'>Title</label>
#          <div class='controls'><% = f.text_field :title, :class => 'input-xlarge ' % ></div>
#        </div>
#
#        <div class='control-group'>
#          <label class='control-label'>Content</label>
#        </div>
#
#      </div>
#
#      <div class='tab-pane' id='settings'>
#
#        <div class='control-group'>
#          <label class='control-label'>SEO Url</label>
#          <div class='controls'><% = f.text_field :seo_url, :class => 'input-xlarge ' % ></div>
#        </div>
#
#
#      </div>
#
#      <div class='tab-pane' id='administration'>
#
#        <div class='control-group warning'>
#          <label class='control-label'>Author</label>
#
#          <div class='controls'>
#            <% = f.select :user_id, @all_users % >
#            <span class='help-inline'> </span>
#          </div>
#        </div>
#
#        <div class='control-group warning'>
#          <label class='control-label'>State</label>
#
#          <div class='controls'>
#            <% = f.enum_select :state % >
#            <span class='help-inline'> </span>
#          </div>
#        </div>
#
#        <div class='control-group warning'>
#          <label class='control-label'>Post Type</label>
#
#          <div class='controls'>
#            <% = f.enum_select :object_type % >
#            <span class='help-inline'> </span>
#          </div>
#        </div>
#
#      </div>
#
#    </div>
%>
