
<fieldset>
  <div class='span12'>
    <legend><%= form_legend %></legend>
  </div>

  <div class='span9'>
    <div class=''><%= f.text_area :content, :size => '50x8', :class => 'input-xlarge markitup' %></div>

    <div class='form-actions'>
      <%= submit_tag submit_label, :class => 'btn btn-primary' %>
      <%= link_to "Cancel", {:action => 'index'}, :class => 'btn' %>
    </div>
  </div>

  <div class='span3'>
    <div class='control-group'>
      <div class='controls'><%= f.text_field :title, :class => 'span3', :placeholder => 'Enter title here' %></div>
    </div>
    <div class='control-group'>
      <div class='controls'><%= f.text_field :seo_url, :class => 'span3', :placeholder => "SEO Url" %></div>
    </div>
    <hr />

  </div>
</fieldset>

<%
#
#      <div class='tab-pane active' id='content'>
#
#        <div class='control-group'>
#          <label class='control-label'>Title</label>
#          <div class='controls'><% = f.text_field :title, :class => 'input-xlarge ' % ></div>
#        </div>
#
#        <div class='control-group'>
#          <label class='control-label'>Content</label>
#        </div>
#
#      </div>
#
#      <div class='tab-pane' id='settings'>
#
#        <div class='control-group'>
#          <label class='control-label'>SEO Url</label>
#          <div class='controls'><% = f.text_field :seo_url, :class => 'input-xlarge ' % ></div>
#        </div>
#
#
#      </div>
#
#      <div class='tab-pane' id='administration'>
#
#        <div class='control-group warning'>
#          <label class='control-label'>Author</label>
#
#          <div class='controls'>
#            <% = f.select :user_id, @all_users % >
#            <span class='help-inline'> </span>
#          </div>
#        </div>
#
#        <div class='control-group warning'>
#          <label class='control-label'>State</label>
#
#          <div class='controls'>
#            <% = f.enum_select :state % >
#            <span class='help-inline'> </span>
#          </div>
#        </div>
#
#        <div class='control-group warning'>
#          <label class='control-label'>Post Type</label>
#
#          <div class='controls'>
#            <% = f.enum_select :object_type % >
#            <span class='help-inline'> </span>
#          </div>
#        </div>
#
#      </div>
#
#    </div>
%>
