<%= breadcrumbs :controller => { :name => 'Content', :link => admin_content_index_path(:posts) } %>

<div class='row'>

  <%= form_for @content, :url => admin_post_path(@content), :html => { :class => '' } do |f| %>

    <%= render :partial => 'post_form', :locals => {
            :f => f,
            :form_legend => "Edit post",
            :submit_label => "Update Post"
    } %>

  <% end %>

</div>

<%= render :partial => 'admin/taxonomies/category_modal', :locals => {} %>
<%= render :partial => 'admin/content/media_modal', :locals => {} %>
