<% @breadcrumbs = [link_to('Posts Editor', {:action => 'index'}), 'Posts List'] %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>SEO Url</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.seo_url %></td>
        <td>
          <%= link_to 'Edit', {:action => 'edit', :id => post.id}, :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', {:action => 'destroy', :id => post.id}, :method => :delete, :confirm => "You've chosen to delete this post, this can't be undone. Are you sure?", :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to({:action => 'new'}, :class => 'btn btn-primary') do %>
      <i class='icon-plus icon-white'></i> Add New Post
    <% end %>
  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-upload"></i> Import
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'from Wordpress XML Export', { :controller => 'admin/import_wordpress', :action => 'new' } %></li>
    </ul>
  </div>

</div>

