<h1>Temporary Post Editor System :: Add New Post</h1>

<%= link_to "Go Back", {:action => 'index'}, :class => 'btn' %>

<%= form_for :post, :url => {:action => 'create'} do |f| %>

    <div class='container'>
      <div class='row'>
        <div class='span1'><label>User</label></div>
        <div class='span8'><%= f.select :user_id, @all_users %></div>
      </div>
      <div class='row'>
        <div class='span1'><label>Title</label></div>
        <div class='span8'><%= f.text_field :title, :class => 'test' %></div>
      </div>
      <div class='row'>
        <div class='span1'><label>Content</label></div>
        <div class='span8'><%= f.text_area :content %></div>
      </div>
      <div class='row'>
        <div class='span1'><label> </label></div>
        <div class='span8'><%= submit_tag "Create Post" %></div>
      </div>
    </div>

<% end %>

