
<fieldset>
  <div class='span9'>
    <div class=''><%= f.text_area :text, :size => '50x8', :class => 'input-xlarge markitup' %></div>
  </div>

  <div class='span3'>

    <div class='jsTabs'>
      <ul class='nav nav-tabs'>
        <li class='active'><a href="#tabs-1">Settings</a></li>
        <li><a href="#tabs-2">Taxonomy</a></li>
        <li><a href="#tabs-3">Media</a></li>
      </ul>
      <div id='tabs-1'>
        <h6>SEO Url
          <a href="#"><i class="icons-tiny-help"></i></a>
        </h6>
        <div class='control-group<%= " error" if @content.errors.has_key?(:seo_url) %>'>
          <div class='controls'><%= f.text_field :seo_url, :class => 'span3', :placeholder => "SEO Url" %></div>
          <% if @content.errors.has_key?(:seo_url) %>
            <span class='help-inline'><%= @content.errors.get(:seo_url).first %></span>
          <% end %>
        </div>

        <h6>Publication Options</h6>
        <div class='control-group'>
          <div class='control'>
            <%= select_tag('content[state]', options_for_select([
              ['Draft', :draft],
              ['Published', :published],
              ['Frozen', :frozen]
            ], @content.state), :class => 'span3') %>
          </div>
          <div class='control'>
            <label class='checkbox'>
              <%= f.check_box :is_sticky %>
              Is Sticky?
            </label>
            <label class='checkbox'>
              <%= f.check_box :is_closable %>
              Is Closable?
            </label>
            <label class='checkbox'>
              <%= f.check_box :allow_comments %>
              Allow Comments?
            </label>
            <label class='checkbox'>
              <%= f.check_box :is_frontable %>
              Show on frontpage?
            </label>
            <label class='checkbox'>
              <%= f.check_box :is_indexable %>
              Show in lists?
            </label>
          </div>
        </div>

        <h6>Layout</h6>
        <div class='control-group'>
          <div class='control'>
            <%= f.select :layout_id, Layout.all.collect {|l| [l.title.capitalize, l.id]}, { :include_blank => "Default layout..." }, { :class => "span3" } %>
          </div>
        </div>

        <h6>Go Live Date/Time</h6>
        <div class='control-group'>
          <div class='controls'>
            <%= f.text_field :go_live, :class => 'span3', :id => 'anytime', :placeholder => @content.go_live.strftime("%B %e, %Y @ %I:%M%p"), :value => @content.go_live.strftime("%B %e, %Y @ %I:%M%p") %>
          </div>
        </div>
      </div>

      <div id="tabs-2">
        <a href='#category-modal' class='btn pull-right btn-mini category-modal' title='Add Category' data-toggle='modal'><i class="icon-folder-open"></i></a>
        <h6>Categories</h6>
        <div class='control-group categories-form-partial'>
          <%= render :partial => 'admin/taxonomies/categories_form' %>
        </div>
      </div>

      <div id="tabs-3">
        <a href='#media-modal' class='btn pull-right btn-mini media-modal' title='Add Media' data-toggle='modal'><i class="icon-upload-alt"></i></a>
        <h6>Media Uploader</h6>
      </div>
    </div>
  </div>

</fieldset>

