<%= form_for @content, :url => admin_content_path(@content), :html => { :class => '' } do |f| %>

  <%= breadcrumbs :controller => { :name => 'Content', :link => admin_content_index_path }, :right_items => [
        submit_tag("Update Content", :class => 'btn btn-primary btn-mini'),
        link_to("Cancel", admin_content_index_path, :class => 'btn btn-mini')
  ] %>

  <div class='row'>
    <%= render :partial => 'content_form', :locals => { :f => f } %>
  </div>

<% end %>

<%= render :partial => 'admin/taxonomies/category_modal', :locals => { :category => Taxonomy.new } %>
<%= render :partial => 'admin/content/media_modal', :locals => {} %>
