<!DOCTYPE html>
<html>
<head>
  <title>RubyPress | <%=  @page_title || 'Site Administration' %> </title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>

<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class='brand' href="<%= url_for :controller => 'admin', :action => 'index' %>">RubyPress Administration</a>
      <div class='nav-collapse'>
        <ul class='nav'>
          <li class='dropdown'><a href="#" class='dropdown-toggle' data-toggle='dropdown'>New <b class="caret"></b></a>
            <ul class='dropdown-menu'>
              <li><a href='<%= url_for :controller => 'posts', :action => 'new' %>'>
                <i class='icon-plus'></i>
                New Post</a></li>
            </ul>
          </li>
          <li><a href="<%= url_for :controller => 'posts', :action => 'index' %>">Posts</a></li>
          <li><a href="<%= url_for :controller => 'users', :action => 'index' %>">Users</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='container'>

  <!-- @TODO This should be a view helper -->
  <% if @breadcrumbs %>
  <div class='row'>
    <ul class='breadcrumb'>
      <% active = @breadcrumbs.pop %>
      <% @breadcrumbs.each do |b| %>
      <li><%= b %> <span class='divider'>/</span></li>
      <% end %>
      <li class='active'><%= active %></li>
    </ul>
  </div>
  <% end %>

  <!-- @TODO This should be a view helper -->
  <div class='row'>
    <% if flash[:success] %>
        <div class='alert alert-success'>
          <a class="close" data-dismiss='alert'>&times;</a>
          <strong>Success!</strong> <%= flash[:success] %>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div class='alert alert-error'>
          <a class="close" data-dismiss='alert'>&times;</a>
          <strong>Error!</strong> <%= flash[:error] %>
        </div>
    <% end %>

    <% if flash[:info] %>
        <div class='alert alert-info'>
          <a class="close" data-dismiss='alert'>&times;</a>
          <strong>Information!</strong> <%= flash[:info] %>
        </div>
    <% end %>

    <% if flash[:warning] %>
        <div class='alert'>
          <a class="close" data-dismiss='alert'>&times;</a>
          <strong>Warning!</strong> <%= flash[:warning] %>
        </div>
    <% end %>
  </div>

  <div class='row'>
    <div class='span9'><%= yield %></div>
    <div class='span3'></div>
  </div>
</div>

</body>
</html>
